.purchaseCard__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid var(--light-gray);
  padding: 20px;
  width: min(300px, 100%);
  border-radius: 10px;
}

.purchaseCard__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.purchasescard__img {
  width: min(100%, 370px);
  height: clamp(80px, 150px, 200px);
}

.purchasescard__img img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.purchasescard__producttitle {
  font-size: 24px;
  color:var(--dark-gray);
}

.purchasescard__details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.purchasescard__datetitle{
  font-size: 20px;
}

.purchasescard__quantitytitle{
  font-size: 20px;
}

.purchasescard__pricetitle {
  font-size: 20px;
}

@media (min-width: 375px) {
  .purchaseCard__container{
    width: min(650px, 95%);
  }
}

@media (min-width: 550px) {
  .purchaseCard__container{
    flex-direction: row;
    justify-content: space-between;
  }
}