.home__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 1200px;
  padding-top: 25px;
  margin: 0 auto;
}

.home__form-search {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.home__form-input{
  height: 45px;
  outline: 0;
  border: 1px solid var(--light-gray);
  padding: 5px 14px;
  width: 80%;
  transition: border 200ms ease;
}

.home__form-input::placeholder {
  opacity: 0.4;
}

.home__form-input:focus {
  border: 1px solid var(--primary);
}

.home__form-btn {
  height: 45px;
  width: 45px;
  border: 1px solid var(--primary);
  cursor: pointer;
  background-color: var(--primary);
  color: #fff;
  font-size: 18px;
}

.home__form-btn:hover {
  background-color: #e92c2c;
  color: #e2e2e2;
}

.home__listProducts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  justify-content: center;
  grid-template-rows: auto;
  gap: 40px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}