.purchases {
  background-color: #fff;
  display: grid;
  place-content: center;
  max-width: 900px;
  margin: 0 auto;
}

.purchases__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.purchases__title {
  font-size: 28px;
  font-weight: 700;
  padding: 20px 15px;
  color: #515151;
  text-align: center;
}

.purchases__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
